@inject NavigationManager Navigation
@inject IDbContextFactory<ApplicationContext> DbFactory
@rendermode RenderMode.InteractiveServer

<div class="card">
    <label><input type="checkbox" name="check" value="apple"></label>
    <div class="body_card">
        <div class="bloc_img">
            <img src=@ImageData />
        </div>
        <div class="bloc_text">
            <h3>@Product.Name</h3>
            <p>@Product.Description</p>
        </div>
        <div class="bloc_price">
            <div class="price">
                <p>@Product.Price ₽</p>
            </div>
            <div class="menu">
                <button class="znak" @onclick="ZnakMinus">-</button>
                <p>@kolvo</p>
                <button class="znak" @onclick="ZnakPlus">+</button>
                <button class="like" @onclick="ClickLike"><img src="@like" /></button>
                <img class="urna" src="urna.png" />
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Product Product { get; set; }

    public string ImageData { get; set; } = "/prev.png";

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            using (var ac = DbFactory.CreateDbContext())
            {
                Product_Photo product_Photo = ac.Product_Photos.FirstOrDefault(x => x.ProductId == Product.Id);
                if (product_Photo == null)
                {
                    return;
                }
                var ByteImageData = ac.Files.FirstOrDefault(x => x.Id == product_Photo.FileId).Path;
                string imagesrc = Convert.ToBase64String(ByteImageData);
                ImageData = string.Format("data:image/jpeg;base64,{0}", imagesrc);
            }
        });
    }

    void RedirectToEdit()
    {
        Navigation.NavigateTo($"/catalog/product/{Product.Id}", true);
    }


    private string like = "Like1.png";
    private int index = 0;
    void ClickLike()
    {
        if (index == 1)
        {
            like = "Like1.png";
            index = 0;
        }
        else
        {
            like = "Like.png";
            index = 1;
        }
    }
    private int kolvo = 1;
    void ZnakPlus(){
        if (kolvo < 99)
        {
            kolvo = kolvo + 1;
        }
        else
        {
            kolvo = 99;
        }
    }
    void ZnakMinus()
    {
        if(kolvo>1){
            kolvo = kolvo - 1;
        }
        else{
            kolvo = 1;
        }
    }
}
