@page "/"

@layout MainLayout

@inject IDbContextFactory<ApplicationContext> DbFactory
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IdentityUserAccessor _userAccessor;
@inject IJSRuntime JSRuntime

@rendermode RenderMode.InteractiveServer

<PageTitle>Главная-Из лукошкино с любовью</PageTitle>



<div class="Top">
	<div class="body_info">
		<div class="ByCompany">
			<div class="info">
				<div class="text-btn">
					<h3>ИЗ ЛУКОШКИНО<br />С ЛЮБОВЬЮ</h3>
					<p>@GetHomePageTitleText()</p>
					<NavLink @onclick="RedirectToCatalog" href="catalog" style="text-decoration: none;">
						<button type="submit" href="Catalog">К КАТАЛОГУ<img src="Vector1.png" /></button>
					</NavLink>

				</div>
				<div class="Photo">
					<img src="Photo1.png" />
				</div>
			</div>
		</div>
	</div>
	<div class="body_Catalog">
		<div class="Catalog">
			<div class="butgrup">
				<NavMenu />
				<div class="lable_kart">
					<p>ПОПУЛЯРНЫЕ ТОВАРЫ</p>
				</div>
				<div class="kart">

					@foreach(var card in GetPopularProducts())
					{
						<CardGood Product="@card"/>
					}
				</div>
				<div class="lable_kart">
					<p>ВАМ МОЖЕТ ПОНРАВИТЬСЯ</p>
				</div>
				<div class="kart">

					@foreach (var card in GetLikeProducts())
					{
						<CardGood Product="@card" />
					}
				</div>
				<div class="foot"></div>
			</div>
		</div>
	</div>
	<div class="body_feedback">
		<div class="line"></div>
		<div class="Feedback">
			<div class="lable_kart1">
				<p>ОТЗЫВЫ</p>
			</div>
			<div class="kart">
					@if (Const == 0)
					{
						@foreach (var card in GetFeedbacks())
						{
							<CardFeedback Feedback="@card" />
						}
					}
					else{
						@foreach (var card in GetOlFeedbacks())
						{
							<CardFeedback Feedback="@card" />
						}
					}
					@if (Const == 0){
						<button class="but_all_otziv" @onclick=EditConst>
							Открыть все отзовы
						</button>
					}
					else{
						<button class="but_all_otziv" @onclick=EditConst>
							Скрыть отзовы
						</button>
					}
			</div>
		</div>
			</div>
	<div class="body_Catalog">
		<div class="line"></div>
		<div class="Feedback">
				<div class="lable_kart">
					<p>ПОДЕЛИТСЯ ВПЕЧАТЛЕНИЯМИ</p>
				</div>
				<div class="body-add-feedback">
					<div class="edit_otziv">
						<h3>ОТЗЫВ</h3>
						<textarea name="otziv" @bind="FeedbackText" />
						<button @onclick=SendFeedback>Отправить</button>
					</div>
				</div>
				
			<div class="foot"></div>
		</div>
	</div>
	
</div>
		




@code
{
	private ApplicationUser _user;
	private int Const = 0;
	private string FeedbackText { get; set; } = string.Empty;

	private async Task SendFeedback()
	{
		_user = await _userAccessor.GetCurrentUserAsync();
		if (_user == null || string.IsNullOrEmpty(_user.Name))
		{
			Filter.FilterCategories.Clear();
			Navigation.NavigateTo("/login", true);
			return;
		}

		using (var ac = DbFactory.CreateDbContext())
		{
			var feedback = new Feedback
				{
					Text = FeedbackText,
					UserId = _user.Id,
					isInHome = false,
				};
			ac.Feedbacks.Add(feedback);
			await ac.SaveChangesAsync();
		}

		FeedbackText = string.Empty; // Очищаем поле после отправки
	}

	private void EditConst()
	{
		if(Const ==0){
			Const = 1;
		}
		else{
			Const = 0;
		}
		
	}
	List<Product> GetPopularProducts()
	{
		using (var ac = DbFactory.CreateDbContext())
		{
			return ac.Products.Where(x => x.isPopular).ToList();
		}
	}

	List<Product> GetLikeProducts()
	{
		using (var ac = DbFactory.CreateDbContext())
		{
			return ac.Products.Where(x => x.isLike).ToList();
		}
	}
	List<Feedback> GetFeedbacks()
	{
		using (var ac = DbFactory.CreateDbContext())
		{
			return ac.Feedbacks.Where(y => y.isInHome).ToList();
		}
	}
	List<Feedback> GetOlFeedbacks()
	{
		using (var ac = DbFactory.CreateDbContext())
		{
			return ac.Feedbacks.ToList();
		}
	}

	void RedirectToCatalog()
	{
		Filter.FilterCategories.Clear();
		Navigation.NavigateTo("/catalog", true);
	}

	string GetHomePageTitleText()
	{
		using(var db = DbFactory.CreateDbContext())
		{
			return db.InterfaceTags.ToList().Find(x => x.Name == "ТекстНаГлавнойСтранице").Content;
		}
	}

}


	


